/*********************************\
        $VARIABLES
\*********************************/

/*---------DEFINICION DE COLORES-------*/

$color-primary-strong-cyan: hsl(172, 67%, 45%);
$color-very-dark-cyan: hsl(183, 100%, 15%);
$color-dark-grayish-cyan: hsl(186, 14%, 43%);
$color-grayish-cyan: hsl(184, 14%, 56%);
$color-light-grayish-cyan: hsl(185, 41%, 84%);
$color-very-light-grayish-cyan: hsl(189, 41%, 97%);
$color-White: hsl(0, 0%, 100%);

/*---------COLORS TEXT-------*/
$colors-text: (
  primary-strong-cyan: $color-primary-strong-cyan,
  very-dark-cyan: $color-very-dark-cyan,
  dark-grayish-cyan: $color-dark-grayish-cyan,
  very-light-grayish-cyan: $color-very-light-grayish-cyan,
  white: $color-White,
);

/*---------COLORS BACKGROUND-------*/
$colors-background: (
  primary-strong-cyan: $color-primary-strong-cyan,
  very-dark-cyan: $color-very-dark-cyan,
  light-grayish-cyan: $color-light-grayish-cyan,
  white: $color-White,
  very-light-grayish-cyan: $color-very-light-grayish-cyan,
  grayish-cyan: $color-grayish-cyan,
);

/*---------COLORS BORDER-------*/
$colors-border: (
  primary-strong-cyan: $color-primary-strong-cyan,
);
/*---------FONT MALILYS-------*/
$font-primary: "Space Mono", monospace;

/*---------FONT SIZES-------*/
$font-sizes: (
  x-small: 1.2rem,
  small: 1.4rem,
  normal: 1.8rem,
  big: 2.4rem,
);

/*---------FONT WEIGHTS-------*/
$fonts-weight: (
  bold: 700,
);

/*---------MEDIA QUERYS-------*/

$media-Mobile: 375px;
$media-Desktop: 1440px;
