/*********************************\
        $BOTONES
\*********************************/
.btn {
  padding: 6px 0;
  border: none;
  font-weight: selecFontWeight(bold);
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  &--porcentage {
    color: selecColorText(very-light-grayish-cyan);
    background-color: selecColorBg(very-dark-cyan);
  }
  &--custom {
    color: selecColorText(dark-grayish-cyan);
    background-color: selecColorBg(very-light-grayish-cyan);
  }
}
