/*********************************\
        $BOTONES
\*********************************/
.btn {
  @include button-style;
  &--porcentage {
    color: selecColorText(very-light-grayish-cyan);
    background-color: selecColorBg(very-dark-cyan);
  }

  &--reset {
    font-size: selecFontSize(small);
    text-transform: uppercase;
    color: selecColorText(very-dark-cyan);
    background-color: selecColorBg(primary-strong-cyan);
  }
  /*  &--inactive {
    color: selecColorText(very-dark-cyan);
    background-color: rgba(selecColorBg(primary-strong-cyan), 0.2);
  } */
}
