/*********************************\
        $CALCULATORS
\*********************************/
.calculator {
  min-width: 320px;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(1, minmax(230px, 1fr));
  gap: 28px;
  padding: 32px;
  background-color: selecColorBg(white);
  border-radius: 16px;
}
@media (min-width: 550px) {
  .calculator {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
